.todo-details-div{
  margin-top:5px;
  //display:none;
}
.bg-btn{
  border-radius:15px;
}
.error{
  color:red;
  font-size:14px;
}

 input[type="radio"] {
	 display: none;
}
 input[type="radio"]:checked + label span {
	 transform: scale(1.25);
	 border-radius:50%;
}
 input[type="radio"]:checked + label .red {
	 border: 2px solid #711313;
}
 input[type="radio"]:checked + label .white {
	 border: 2px solid #711313;
}
 input[type="radio"]:checked + label .blue {
	 border: 2px solid #711313;
}



 label {
	 display: inline-block;
	 width: 25px;
	 height: 25px;
	 margin-right: 10px;
	 cursor: pointer;

}
 label:hover span {
	 transform: scale(1.25);
}
 label span {
	 display: block;
	 width: 100%;
	 height: 100%;
	 transition: transform 0.2s ease-in-out;
	 border-radius:50%;
}

 label span.red {
	 background: #ff0000;
}
 label span.blue {
	 background: #87ceeb;
}

label span.white {
	 background: #fff;
	 border: 1px solid #888;
}

.btn-white{
  background-color:#fff !important;
  color:#777 !important;
}
