<div class="container">
   <div class="row">
      <div class="col-md-6 mr-center no-padding">
         <div class="header text-center">
            <h2>Register</h2>
         </div>
         <div class="body-box">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="form-group">
               <input
                 type="text"
                 placeholder="Username"
                 class="form-control"
                 id="username"
                 name="username"
                 [(ngModel)]="formClass.username"
                 (ngModelChange)="usernameEvent($event)"
                 required
               />
              <span class="error" for="username" *ngIf="usernameError!=''">{{usernameError}}</span>
            </div>
            <div class="form-group">
               <input type="password" placeholder="Password" class="form-control" id="password-1" name="password1" [(ngModel)]="formClass.password1" (ngModelChange)="password1Event($event)" required/>
              <span class="error" for="username" *ngIf="password1Error!=''">{{password1Error}}</span>
            </div>
            <div class="form-group">
               <input type="password" placeholder="Password Confirm" class="form-control" id="password-2" name="password2" [(ngModel)]="formClass.password2" (ngModelChange)="password2Event($event)" required/>
              <span class="error" for="username" *ngIf="password2Error!=''">{{password2Error}}</span>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-block btn-primary">Register</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
