.mr-center{
  border:1px solid #ddd;
  margin: 6% auto;
  box-shadow: 2px 2px 9px 4px #ddd;
  border-radius: 15px;
}
.header{
  background: #2196f3;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.no-padding{
  padding:0px !important;
}
.body-box{
  padding:15px;
  margin-top:20px;
}
.error{
  color:red;
  font-size:14px;
}
